#container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: calc(100% + 200pt);
  gap: 10pt;
}

h1 {
  width: 100%;
  text-align: start;
}

#text {
  width: 100%;
  text-align: start;
  overflow-wrap: anywhere;
}

#info {
width: 100%;
  text-align: center;
}

button {
  width: 80%;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10pt;
}

#cheat {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom:0;
  width: 100%;
  padding: 10pt 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  background-color: #ffffff11;
}
