<img style="opacity: 0.05; position: fixed;"
     ngSrc="christmas-tree-svgrepo-com.svg" fill="100%" alt="tree"/>



@if (unlocked()) {

@if (player() === 'lukas') {
  <h1>ach bitte.</h1>
  <p>
    Was dachstest du, dass jetzt passiert?
  </p>
  <p>
    Willst du einfach die Lösung?
  </p>
  <p>
    Ach Unsinn, du weisst die Lösung ja sowieso schon, oder "Lukas"?
  </p>
} @else {

  <div id="container">

    <h1>{{ currentLocation().name }}</h1>

    <div id="text">
      @for (paragraph of currentLocation().paragraphs; track $index) {
        <p>{{ paragraph }}</p>
      }
    </div>

  </div>

  <div id="cheat">

    <div id="info">

      @if (busy()) {
        <p>getting geo location</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }

      @if (currentLocation().position && distanceToTarget() != undefined) {
        <p>noch {{ distanceToTarget() | number: '1.0-0' }} m</p>
      }

      @if (currentLocation().solution && guess() !== currentLocation().solution && guess()) {
        <p>da stimmt etwas nicht ganz...</p>
      }
    </div>

    <div id="buttons">

      @if (currentLocation().solution) {
        <div class="help">
        <mat-form-field>
          <mat-label>Guess</mat-label>
          <input  matInput placeholder="guess" [(ngModel)]="guess">
        </mat-form-field>
        </div>
      }

      <div class="help">
      @if (!done() && currentLocation().position && !busy()) {
        <button matButton="elevated" (click)="thereYet()">Bin ich schon da?</button>
      }
      </div>

      <div class="help">
        @if(!currentLocation().id.includes('nohint')) {
          <button matButton="elevated" (click)="moreHints()">
            @if (currentHintIndex() + 1 >= currentLocation().hints.length) {
              Lösung
            } @else {
              Hilfe
            }
          </button>
        }
        @if (!done()) {
          <button matButton="elevated" (click)="skip()">{{ skipText()[skipped()] }}</button>
        }
      </div>

    </div>


  </div>
}
} @else {
  <h1>
    Noch {{left()}} Mal schlafen...
  </h1>
}
