:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#container {
  padding: 10pt;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 80%;
  gap: 10pt;
  overflow-y: auto;
}

#cheat {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  background-color: #ffffff11;
}

h1 {
  width: 100%;
  text-align: start;
  color: #ffb787;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffb787;
}

#text {
  width: 100%;
  text-align: start;
  overflow-wrap: anywhere;
}

#info {
width: 100%;
  text-align: center;
}

button {
  width: 50%;
}

input {

}

mat-form-field {
  width: 100%;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: calc(100% - 20px);

}

.help {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

