:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#container {
  padding: 10pt;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 80%;
  gap: 10pt;
  overflow-y: auto;
}

#cheat {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  background-color: #ffffff11;
}

h1 {
  width: 100%;
  text-align: start;
}

#text {
  width: 100%;
  text-align: start;
  overflow-wrap: anywhere;
}

#info {
width: 100%;
  text-align: center;
}

button {
  width: 80%;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10pt;
}

