
:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wide {
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10pt;
  padding-bottom: 20vh;
  padding-left: 5pt;
  padding-right: 5pt;
}

#cheat {
  z-index: 999;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  mask: linear-gradient(#ffffff11 1%, #ffffffff 15%, #ffffffff 100%);
  backdrop-filter: blur(2px);
  background: #013a00;
}

h1 {
  width: 100%;
  text-align: start;
  font-size: xxx-large;
  text-shadow: #a98300 1px 1px;
  padding-bottom: 10px;
}

#text {
  width: 100%;
  text-align: start;
  overflow-wrap: break-word;

}

#info {
  width: 100%;
  text-align: center;
}

button {
  width: 50%;
}


mat-form-field {
  width: 100%;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: calc(100% - 20px);
}


.help {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}


.snowflake {
  z-index: -1;
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake, .snowflake .inner {
  z-index: 1;
  animation-iteration-count: infinite;
  animation-play-state: running
}

@keyframes snowflakes-fall {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(100vh)
  }
}

@keyframes snowflakes-shake {
  0%, 100% {
    transform: translateX(0)
  }
  50% {
    transform: translateX(80px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: -1;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  pointer-events: none;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out
}

.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear
}

.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s
}

.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s
}

.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s
}

.snowflake:first-of-type .inner, .snowflake:nth-of-type(8) .inner {
  animation-delay: 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: .5s
}

.snowflake:nth-of-type(2) .inner, .snowflake:nth-of-type(6) .inner {
  animation-delay: 6s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s
}

.snowflake:nth-of-type(11) .inner, .snowflake:nth-of-type(3) .inner {
  animation-delay: 4s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s
}

.snowflake:nth-of-type(10) .inner, .snowflake:nth-of-type(4) .inner {
  animation-delay: 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s
}

.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s
}

.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s
}

.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s
}

.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s
}

.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s
}

