@use '@angular/material' as mat;
@use '../../custom-theme' as theme;

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10pt;
  padding-bottom: 20vh;
}

#cheat {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  mask: linear-gradient(#ffffff11 1%, #ffffffff 15%, #ffffffff 100%);
  backdrop-filter: blur(2px);
  background: mat.m2-get-color-from-palette(theme.$tertiary-palette, 10);
}

h1 {
  width: 100%;
  text-align: start;
  color: mat.m2-get-color-from-palette(theme.$primary-palette, 50);
  padding-bottom: 10px;
}

#text {
  width: 100%;
  text-align: start;
  overflow-wrap: anywhere;
}

#info {
width: 100%;
  text-align: center;
}

button {
  width: 50%;
}

input {

}

mat-form-field {
  width: 100%;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: calc(100% - 20px);
}


.help {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

