
@use '@angular/material' as mat;


$gold-palette: (
  0: #000000,
  10: #2b1f00,
  20: #4a3700,
  25: #5a4200,
  30: #6a4f00,
  35: #7a5b00,
  40: #8a6800,
  50: #a98300,
  60: #c9a227,
  70: #e3bd4a,
  80: #ffd966,
  90: #ffefb0,
  95: #fff6d4,
  98: #fffaf0,
  99: #fffbf0,
  100: #ffffff,

  secondary: (
    0: #000000,
    10: #2a2412,
    20: #403a22,
    25: #4b452d,
    30: #575039,
    35: #635c45,
    40: #6f6851,
    50: #89826a,
    60: #a39c83,
    70: #bfb79e,
    80: #dbd3b8,
    90: #f7eed3,
    95: #fff6e6,
    98: #fffaf0,
    99: #fffbf0,
    100: #ffffff,
  ),

  neutral: (
    0: #000000,
    10: #1a1b1f,
    20: #2f3033,
    25: #3b3b3f,
    30: #46464a,
    35: #525256,
    40: #5e5e62,
    50: #77777a,
    60: #919094,
    70: #ababaf,
    80: #c7c6ca,
    90: #e3e2e6,
    95: #f2f0f4,
    98: #faf9fd,
    99: #fdfbff,
    100: #ffffff,
    4: #0a0b0c,
    6: #101013,
    12: #1e1f23,
    17: #292a2d,
    22: #343438,
    24: #39393d,
    87: #dbdade,
    92: #e9e8ec,
    94: #efedf1,
    96: #f5f3f7,
  ),

  neutral-variant: (
    0: #000000,
    10: #1f1c14,
    20: #343024,
    25: #3f3b2f,
    30: #4b463a,
    35: #575245,
    40: #635e51,
    50: #7d7769,
    60: #989183,
    70: #b3ac9d,
    80: #cfc7b8,
    90: #ebe3d3,
    95: #faf1e2,
    98: #fffaf0,
    99: #fffbf0,
    100: #ffffff,
  ),

  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$theme: mat.define-theme(
    (
      color: (
        theme-type: dark,
        primary: $gold-palette,
        tertiary: mat.$blue-palette,
      ),
    )
);

@include mat.core();

:root {
  @include mat.all-component-themes($theme);
}



body {

  background: map-get(mat.$green-palette, 10);
  color: map-get($gold-palette, 95);
}

h1 {
  color: map-get(mat.$red-palette, 30);
}
