/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './custom-theme' as theme;

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: mat.m2-get-color-from-palette(theme.$primary-palette, 80);
  font-size: medium;
}
