/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}

html, body { height: 100%; }
body {
  overflow: scroll;
  margin: 0;
}

h1 {
  padding-left: 5pt;
  font-family: "Mountains of Christmas", serif;
  font-weight: 400;
  font-style: normal;
}
