name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: installing node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.x

      - name: install
        run: npm ci

      - name: building
        run: npm run build

      - name: upload artifacts
        uses: actions/upload-artifact@v5.0.0
        with:
          name: github-pages
          path: ./dist/LVChristmas/browser

      - name: deploy
        uses: actions/deploy-pages@v4

